<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Itrace</title>
</head>
<body>
<div id="Web_1280__1">
	<svg class="Rectangle_32">
		<rect id="Rectangle_32" rx="0" ry="0" x="0" y="0" width="1279.579" height="41.57">
		</rect>
	</svg>
	<svg class="Rectangle_33">
		<rect id="Rectangle_33" rx="0" ry="0" x="0" y="0" width="1280" height="478">
		</rect>
	</svg>
	<svg class="Rectangle_34">
		<rect id="Rectangle_34" rx="0" ry="0" x="0" y="0" width="1280" height="557">
		</rect>
	</svg>
	<svg class="Rectangle_53">
		<rect id="Rectangle_53" rx="0" ry="0" x="0" y="0" width="1135" height="938">
		</rect>
	</svg>
	<svg class="Rectangle_42">
		<rect id="Rectangle_42" rx="0" ry="0" x="0" y="0" width="1279.579" height="43.57">
		</rect>
	</svg>
	<div id="SECURE_MORE__DEVICE_AND_ACCOUN">
		<span>SECURE MORE <br/>DEVICE AND ACCOUNT</span><br><span style="font-size:20px;">LEARN HOW?</span>
	</div>
	<svg class="Rectangle_45">
		<rect id="Rectangle_45" rx="6" ry="6" x="0" y="0" width="155" height="95">
		</rect>
	</svg>
	<svg class="Rectangle_46">
		<rect id="Rectangle_46" rx="6" ry="6" x="0" y="0" width="139" height="86">
		</rect>
	</svg>
	<svg class="Path_6" viewBox="-16 20 211.179 34.578">
		<path id="Path_6" d="M -16 20.00000190734863 L 154.4696044921875 20.00000190734863 L 195.1787719726562 54.57810211181641 L 24.70915985107422 54.57810211181641 L -16 20.00000190734863 Z">
		</path>
	</svg>
	<svg class="Path_7" viewBox="-13.629 22.192 187.112 25.082">
		<path id="Path_7" d="M -13.62933158874512 22.19183349609375 L 141.8539428710938 22.19183349609375 L 173.4828033447266 47.27376174926758 L 17.9995231628418 47.27376174926758 L -13.62933158874512 22.19183349609375 Z">
		</path>
	</svg>
	<div id="Group_30">
		<svg class="Rectangle_28">
			<rect id="Rectangle_28" rx="5" ry="5" x="0" y="0" width="28" height="29">
			</rect>
		</svg>
		<svg class="Rectangle_27">
			<rect id="Rectangle_27" rx="4" ry="4" x="0" y="0" width="49" height="33">
			</rect>
		</svg>
		<svg class="Rectangle_29">
			<rect id="Rectangle_29" rx="4" ry="4" x="0" y="0" width="9" height="16">
			</rect>
		</svg>
	</div>
	<svg class="Rectangle_43">
		<rect id="Rectangle_43" rx="0" ry="0" x="0" y="0" width="4" height="224">
		</rect>
	</svg>
	<div id="Group_29">
		<div id="Component_1__2" class="Component_1___2">
			<svg class="Rectangle_24">
				<rect id="Rectangle_24" rx="4" ry="4" x="0" y="0" width="44" height="95">
				</rect>
			</svg>
			<svg class="Rectangle_26">
				<rect id="Rectangle_26" rx="4" ry="4" x="0" y="0" width="40" height="88">
				</rect>
			</svg>
		</div>
		<svg class="Ellipse_22">
			<ellipse id="Ellipse_22" rx="1" ry="1" cx="1" cy="1">
			</ellipse>
		</svg>
	</div>
	<div id="Lorem_ipsum_dolor_sit_amet_con">
		<span>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore</span>
	</div>
	<svg class="Line_12" viewBox="0 0 312 1">
		<path id="Line_12" d="M 0 0 L 312 0">
		</path>
	</svg>
	<div id="LOGIN_WITH">
		<span>LOGIN WITH</span>
	</div>
	<div onclick="application.goToTargetView(event)" id="Group_46">
		<img id="download" src="/assets/images/download.png" srcset="/assets/images/download.png 1x, /assets/images/download@2x.png 2x">
		<div id="Group_42">
			<div id="TWITTER">
				<span>TWITTER</span>
			</div>
		</div>
	</div>
	<div onclick="application.goToTargetView(event)" id="Group_43">
		<img id="instagram_PNG9" src="/assets/images/instagram_PNG9.png" srcset="/assets/images/instagram_PNG9.png 1x, /assets/images/instagram_PNG9@2x.png 2x">
		<div id="INSTAGRAM">
			<span>INSTAGRAM</span>
		</div>
	</div>
	<div onclick="application.goToTargetView(event)" id="Group_45">
		<img id="ID1004px-Google__G__Logosvg" src="/assets/images/ID1004px-Google__G__Logosvg.png" srcset="/assets/images/ID1004px-Google__G__Logosvg.png 1x, /assets/images/ID1004px-Google__G__Logosvg@2x.png 2x">
		<div id="Group_44">
			<div id="GOOGLE">
				<span>GOOGLE</span>
			</div>
		</div>
	</div>
	<div onclick="application.goToTargetView(event)" id="Group_41">
		<img id="Facebook-Logo" src="/assets/images/Facebook-Logo.png" srcset="/assets/images/Facebook-Logo.png 1x, /assets/images/Facebook-Logo@2x.png 2x">
		<div id="FACEBOOK">
			<span>FACEBOOK</span>
		</div>
	</div>
	<svg class="Rectangle_47">
		<rect id="Rectangle_47" rx="10" ry="10" x="0" y="0" width="220" height="42">
		</rect>
	</svg>
	<div id="REGISTER_NOW">
		<button type="button" class="btn btn-primary-outline pull-right" (click)="btnClick();"><i class="fa fa-plus"></i> Register</button>  
	</div>
	<div id="Group_59">
		<div id="Group_58">
			<svg class="Path_13" viewBox="0 0 54.283 56.643">
				<path id="Path_13" d="M 27.14144325256348 0 C 42.13124847412109 0 54.28288650512695 12.67997074127197 54.28288650512695 28.32150650024414 C 54.28288650512695 43.96304321289062 42.13124847412109 56.64301300048828 27.14144325256348 56.64301300048828 C 12.15163898468018 56.64301300048828 0 43.96304321289062 0 28.32150650024414 C 0 12.67997074127197 12.15163898468018 0 27.14144325256348 0 Z">
				</path>
			</svg>
			<svg class="Ellipse_10">
				<ellipse id="Ellipse_10" rx="11.800626754760742" ry="12.98068904876709" cx="11.800626754760742" cy="12.98068904876709">
				</ellipse>
			</svg>
		</div>
		<div id="Group_57">
			<div id="_Trace">
				<span> Trace</span>
			</div>
			<svg class="Rectangle_57">
				<rect id="Rectangle_57" rx="0" ry="0" x="0" y="0" width="11" height="66">
				</rect>
			</svg>
		</div>
	</div>
</div>
</body>
</html>
